.page{
    width: 100vw;
    height: 100vh;
    background-color: rgb(133, 233, 183);
}
.container{
    padding-top: 100px;
}
.box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    /* background-color: rgb(238, 238, 94); */
    margin: 0 auto;
}
.gambar{
    width: 40%;
    text-align: center;
    /* background-color: rgb(153, 100, 31); */
}
.box p{
    text-align: right;
}