.page{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(133, 233, 183); */
}
.box h1{
    text-align: center;
}
.card{
    border: 1px solid black;
    width: 180px;
    padding: 20px;
    background-color: rgb(133, 233, 183);
}
.card img{
    width: 180px;
    height: 180px;
}

.baris{
    display: flex;
    justify-content: center;
    gap: 30px;
    /* background-color: aquamarine; */
    flex-wrap: wrap;
    flex-direction: row;
}
