.page{
    width: 100vw;
    height: 100vh;
    background-color: rgb(133, 233, 183);
}
.container{
    padding-top: 50px;
}
.box{
    width: 85%;
    height: auto;
    /* background-color: beige; */
    margin: 0 auto;
}
.baris{
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}
.box p{
   /* background-color: brown; */
   text-align: right;
}